.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 42, 133, 0.096);
  height: fit-content;
  width: 100%;
  max-width: 2000px;
  padding: 30px 0;
}

.section-two_grid, .testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80%;
  column-gap: 20px;
  row-gap: 40px;
}

.section-2_column {
  padding: 20px;
  
}

.section-2_img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  object-position: left;
}

.section-2_column h1,
h3 {
  color: rgb(0, 0, 82);
  padding: 10px 0;
}

.name {
  padding-top: 20px;
}
